
.contacts-container {
	width: 100%;
	background-color: var(--primary);
}
.contacts-container h2 {
	color: var(--tint);
	margin-top: 4vh;
}

.contacts__wrapper {
	margin: 5vh 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5vw;
}

.contacts-link, .contacts-mailto {
	background-color: var(--text-background);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 10px;
	font-size: 1.2em;
	min-height: 35vh;
}


.mailto__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tg-bot__img, .contacts__img {
	height: 10vh;
	margin: 3vh 2vw 0 2vw;
	cursor: pointer;
}


/* 
.contacts-mailto {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 2vh;
	padding: 20px;
	font-size: 1.2em;
} */

.mailto__wrapper {
	text-decoration: none;
}

.contacts-link h4, .contacts-mailto h4 {
	color: var(--tint);
	font-size: 1.5em;
	margin-top: 2vh;
}

@media screen and (max-width: 960px) {
	.contacts__wrapper {
		flex-direction: column;
	}
	.divider {
		display: none;
	}
	.contacts-mailto {
		align-items: center;
	}
	.contacts-link >h4  {
		font-size: 1.2em;
		text-align: center;
	}
	.contacts-link >p {
		text-align: center;
	}
  }