.wrapper-nav {
    display: initial;
}
.navbar {
    /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
    background-color: var(--green-accent);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9;
    padding: 0 2vw;
    /* box-shadow: inset 0 -10px 5px -4px rgba(79, 76, 76, 0.25); */
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1120px;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    /* font-size: 2rem; */
    display: flex;
    align-items: center;
}

.navbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.navbar-wrapper img {
    margin: 1vh 2vw;
    width: 50px;
}

.navbar-wrapper >h2 {
    color: var(--primary);
    font-family: 'Gabarito';
    font-size: 1.2em;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: lowercase;
    text-align: center;
}
.navbar a {
    margin-right: 1vw;
}

.fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    width: 50vw;
    justify-content: end;
    margin-right: 2rem;
    margin-bottom: 0;
}

.nav-item {
    font-size: 1em;
}

.nav-item >a {
    font-weight: 300;
}

.nav-links {
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: .5rem .3rem;
    height: 100%;
    border-bottom: 2px solid transparent;
}

.nav-links:focus:hover {
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
    transition: all 0.2s ease-out;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 1120px) {
    .navbar-wrapper >h2 {
        font-size: 1.1em;
    }
    .nav-item >a {
        font-size: 1em;
    }
}

@media screen and (max-width: 960px) {

    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .navbar {
        height: 80px;
        /* box-shadow: none; */
    }

    .nav-menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        padding-bottom: 5vh;
    }

    .nav-links {
        font-family: 'Gabarito';
        text-align: center;
        padding: 1.8em;
        width: 100%;
        display: table;
    }

    .nav-item >a {
        font-family: 'Comfortaa';
        color: var(--primary);
    }

    .nav-links:focus:hover {
        background-color: #fff;
        color: #242424;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        /* transform: translate(25%, 50%); */
    }
    .navbar-logo .navbar-wrapper h2 {
        display: none;
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0; 
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fas, .fa-times, .fa-bars, .fa-bars:before, .fa-navicon:before {
        color: var(--primary);
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 100%;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        background-color: var(--tint);
        color: #fff;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
    }

    .nav-links-mobile:focus:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
    }
}